@page
@model TAApplication.Views.Admin.IndexModel
@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Identity.Data
@inject UserManager<TAUser> um
@inject RoleManager<IdentityRole> rm
@*
	Author: Robert Davidson
	Partner: David Clark
	Date: 09/23/2022
	Course: CS 4540, University of Utah, School of Computing
	Copyright: CS 4540, David Clark and Robert Davidson - This work may not be copied for use in Academic Coursework.

	I, David Clark, certify that I wrote this code from scratch and did not copy it in part or whole from
	another source.  Any references used in the completion of the assignment are cited in my README file.

	I, Robert Davidson, certify that I wrote this code from scratch and did not copy it in part or whole from
	another source. Any references used in the completion of the assignment are cited in my README file.

	File Contents

		Provides interface for admin role management.
        Admin can assign users one role each using radio buttons in a datatable.
*@
@{
    ViewBag.Title = "Role Manager";
}
<table id="roleManager" class="table table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Unid</th>
            <th>Applicant</th>
            <th>Professor</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in um.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@String.Format("{0}{1:d7}", "u", user.Unid)</td>


                @{
                    bool isApplicant = await um.IsInRoleAsync(user, "Applicant");
                    bool isProfessor = await um.IsInRoleAsync(user, "Professor");
                    bool isAdmin = await um.IsInRoleAsync(user, "Admin");
                }

                <td><input type="radio" value="isApplicant-@user.Unid" name="role-@user.Unid" onclick="setRole(@user.Unid,'Applicant')" checked=@isApplicant></input></td>
                <td><input type="radio" value="isProfessor-@user.Unid" name="role-@user.Unid" onclick="setRole(@user.Unid,'Professor')" checked=@isProfessor></input></td>
                <td><input type="radio" value="isAdmin-@user.Unid" name="role-@user.Unid" onclick="setRole(@user.Unid,'Admin')" checked=@isAdmin></input></td>


            </tr>
        }
    </tbody>
</table>

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
}
    @section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/js/Admin/Roles.js"></script>
}