@model TAApplication.Models.Application
@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Identity.Data
@inject UserManager<TAUser> _um;
@{
    ViewData["Title"] = "Details";
}
@*
	Author: Robert Davidson
	Partner: David Clark
	Date: 10/04/2022
	Course: CS 4540, University of Utah, School of Computing
	Copyright: CS 4540, David Clark and Robert Davidson - This work may not be copied for use in Academic Coursework.

	I, David Clark, certify that I wrote this code from scratch and did not copy it in part or whole from
	another source.  Any references used in the completion of the assignment are cited in my README file.

	I, Robert Davidson, certify that I wrote this code from scratch and did not copy it in part or whole from
	another source. Any references used in the completion of the assignment are cited in my README file.

	File Contents

		View details of a TA Application page
*@

@{
    string Id = Model.TAUserId;
    TAUser applicant = await _um.FindByIdAsync(Id);
}

<div>
    @{
        if (Model.Picture != null)
        {
            <img src="/uploads/@Model.Picture" alt="Applicant Picture" />
        }
    }
    <h4 class="float-start">@applicant.Name</h4>
    <h4 class="float-end">@String.Format("u{0:0000000}", applicant.Unid)</h4>
    <div class="clearfix"></div>
</div>
<div>
    <hr />
    <form class="form-floating row g-3" id="applicant-details">
        <!--First Name-->
        <div class="col-md-4">
            <label for="name" class="form-label">Name</label>
            <input class="form-control" type="text" value="@applicant.Name" aria-label="name" disabled>
        </div>
        <!--uID-->
        <div class="col-md-4">
            <label for="uid" class="form-label">U of U ID</label>
            <input class="form-control" type="text" value="@applicant.Unid" aria-label="uID" disabled>
        </div>
        <!--Email-->
        <div class="col-md-4">
            <label for="user-email" class="form-label">Email</label>
            <input type="text" class="form-control" id="user-email" value="@applicant.Email" disabled>
        </div>
        <!--GPA-->
        <div class="col-md-3">
            <label for="gpa" class="form-label">@Html.DisplayNameFor(model => model.GPA)</label>
            <input type="text" class="form-control" id="gpa" value='@Html.DisplayFor(model => model.GPA)' disabled>
        </div>
        <!--Graduate student status-->
        <div class="col-md-3">
            <label for="enrollment-status" class="form-label">@Html.DisplayNameFor(model => model.PursuingDegree)</label>
            <input type="text" class="form-control" id="enrollment-status" value="@Html.DisplayFor(model => model.PursuingDegree)" disabled>
        </div>
        <!--Department-->
        <div class="col-md-6">
            <label for="area-of-study" class="form-label">@Html.DisplayNameFor(model => model.Program)</label>
            <input type="text" class="form-control" id="area-of-study" value='@Html.DisplayFor(model => model.Program)' disabled>
        </div>

        <!--Semesters at Utah-->
        <div class="col-md-3">
            <label for="semesters-at-school" class="form-label">@Html.DisplayNameFor(model => model.SemestersCompletedAtUtah)</label>
            <input type="text" class="form-control" id="semesters-at-school" value='@Html.DisplayFor(model => model.SemestersCompletedAtUtah)' disabled>
        </div>
        <!--Hours Wanted-->
        <div class="col-md-3">
            <label for="hours-wanted" class="form-label">@Html.DisplayNameFor(model => model.HoursWanted)</label>
            <input type="text" class="form-control" id="hours-wanted" value='@Html.DisplayFor(model => model.HoursWanted)' disabled>
        </div>
        <!--Transfer School-->
        <div class="col-md-4">
            <label for="transfer-school" class="form-label">@Html.DisplayNameFor(model => model.TransferSchool)</label>
            <input type="text" class="form-control" id="transfer-school" value='@Html.DisplayFor(model => model.TransferSchool)' disabled>
        </div>
        <!--Early Availibility-->
        <div class="col-md-2 custom-control custom-switch">
            <label for="early-availability" class="form-label d-block">@Html.DisplayNameFor(model => model.EarlyAvailability)</label>
            <input type="checkbox" class="custom-control-input form-control-lg" id="early-availability" checked='@Model.EarlyAvailability' disabled>
        </div>
        <!--Personal Statement-->
        <div class="col-md-12">
            <label for="personal-statement" class="form-label">@Html.DisplayNameFor(model => model.PersonalStatement)</label>
            <textarea class="form-control" id="personal-statement" rows="3" disabled>@Html.DisplayFor(model => model.PersonalStatement)</textarea>
        </div>
        <!--LinkedInUrl-->
        <div class="col-md-4">
            <label for="linkedin-url" class="form-label">@Html.DisplayNameFor(model => model.LinkedInURL)</label>
            @Html.DisplayFor(model => model.LinkedInURL)

            @*<div class="col-12">
            <button class="btn btn-secondary" type="button">@Html.DisplayNameFor(model => model.ResumeFilename)</button>
            </div>*@
    </form>
</div>
<!--resume / files / download-->
<br />
<ul class="list-group" id="applicant-files">
    <li class="list-group-item"><a href="/uploads/@Model.ResumeFilename" target="_blank">View Resume</a></li>
</ul>
@if (await _um.IsInRoleAsync(await _um.GetUserAsync(User), "Applicant"))
{
    <p>@ViewData["ErrorMessage"]</p>
    <form method="post"
      enctype="multipart/form-data"
      asp-controller="Applications"
      asp-action="FileUpload">

        <div class="col-md-12 btn-group" role="group">
            <input class="col-md-8" type="file" name="files" accept=".pdf" />
            <input hidden name="category" value="RESUME" />
            <input hidden name="applicationID" value="@Model.ID" />
            <br />
            <input class="btn btn-primary col-md-4" type="submit" value="Upload PDF Resume" />
        </div>
    </form>

    <form method="post"
      enctype="multipart/form-data"
      asp-controller="Applications"
      asp-action="FileUpload">

        <div class="col-md-12 btn-group" role="group">
            <input class="col-md-8" type="file" name="files" accept=".png, .jpg, .jpeg, .gif" />
            <input hidden name="category" value="IMAGE" />
            <input hidden name="applicationID" value="@Model.ID" />
            <br />
            <input class="btn btn-primary col-md-4" type="submit" value="Upload Applicant Photo" />
        </div>
    </form>
}
</div>
<div class="text-center">
    @{
        TAUser currUser = await _um.GetUserAsync(User);
        if (await _um.IsInRoleAsync(currUser, "Admin") || await _um.IsInRoleAsync(currUser, "Professor"))
        {
            <br />
            <a class="col-md-12 btn btn-secondary" asp-action="List">Back to List</a>
        }

        if (await _um.IsInRoleAsync(currUser, "Applicant"))
        {
            <br />
            <a class="col-md-12 btn btn-secondary" asp-action="Edit" asp-route-id="@Model?.ID" type="button">Edit</a>
        }
    }
</div>
